.servicio-ind .b1{
	width: 70px;
	height: 30px;
	top: 20px;
	left: 10px;
}

.servicio-ind .b2{
	width: 70px;
	height: 30px;
	top: 20px;
	left: 10px;
}

.servicio-ind .b3{
	width: 70px;
	height: 30px;
	top: 20px;
	left: 10px;
}