header{
  width: 100%;
  height: 600px;
  background: #1a2a6c80; 
   /* fallback for old browsers */
  background: linear-gradient(to right, #fdbb2d80, #b21f1f80, #1a2a6c80), url('../imagenes/pokemon.PNG');
   /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d80, #b21f1f80, #1a2a6c80), url('../imagenes/pokemon.PNG'); 
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.contenedor_batalla{
  display:flex;
  justify-content:space-around;
  width:500px;
  margin:0 auto;
  padding-bottom: 70px;
  padding-top: 70px;
  background-color: #D3CDC5 ;
}

.versus{
  font-family:impact;
  font-size:50px;
  color:#F2CB05;
  margin-top: 65px;
}

.animal{
  background-color:#F20505;
  border-radius:100px;
  width:200px;
  height:200px;
  text-align:center;
  border:5px solid #BF0404;
}

.animal img{
  margin-top:30px;
}

.animal label{
  font-family:impact;
  text-transform:uppercase;
  color:beige;
  font-size:20px;
}