header{
  width: 100%;
  height: 600px;
  background: #1a2a6c80; 
   /* fallback for old browsers */
  background: linear-gradient(to right, #fdbb2d80, #b21f1f80, #1a2a6c80), url('../imagenes/pokemon.PNG');
   /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d80, #b21f1f80, #1a2a6c80), url('../imagenes/pokemon.PNG'); 
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.contenedor_batalla{
  display:flex;
  justify-content:space-around;
  width:100%;
  margin:0 auto;
  margin-bottom: 70px;
  padding-bottom: 70px;
  padding-top: 20px;
  background-color: #FFFFFF;

}

.descripcion h1{
  font-size: 70px;
  padding-top: 250px;
  padding-bottom: 20px;
  color: #FF0000;
}

.descripcion p{
  text-align: left;
  font-size: 30px;
  padding-bottom: 20px;
}

.descripcion{
  padding-bottom: 20px;
}

.combate{
  display: flex;
  width: 1000px;
  height: 500px;
  background-color: #E04315;
}

.pokemon1{
  margin-top: 50px;
  border: 1;
  padding-right: 50px;
  padding-left: 70px;
  margin-left: 150px;
  margin-right: 70px;
  background-color: #216DDE;
  width: 300px;
  height: 400px;
}

.img1{
  width: 150px;
  height: 150px;
  padding-bottom: 10px;
}

.img2{
  padding-bottom: 10px;
  width: 150px;
  height: 150px;
}

.pokemon2{
  text-align: center;
  border: 1;
  margin-top: 50px;
  padding-right: 70px;
  padding-left: 70px;
  border-color: #000000;
  margin-left: 50px ;
  margin-right: 350px ;
  background-color: #216DDE;
  width: 500px;
  height: 400px;
}

.combate h1{
  font-size: 50px;
  text-align: center;
  margin-top: 200px;
}

.versus{
  font-family:impact;
  font-size:10px;
  color:#000000;
  margin-top: 65px;
}

.animal{
  background-color:#F20505;
  border-radius:100px;
  width:200px;
  height:200px;
  text-align:center;
  border:5px solid #BF0404;
}

.animal img{
  margin-top:30px;
  text-align: center;
}

.animal label{
  font-family:impact;
  text-transform:uppercase;
  color:beige;
  font-size:20px;
}

.button{
  padding: 20px;
  background-color: #FFA729;
}

.combate p{
  font-size: 15px;
  text-align: center;

}

.img_prin{
  width: 1000px;
  height: 150px;
}
